<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>회원 장바구니 목록</title>
    <style>
        .list table {
            width: 100%;
            border-collapse: collapse;
        }
        .list table th, .list table td {
            border: solid 1px #000;
        }
    </style>
</head>
<body>
    <h1>회원 장바구니 목록</h1>
    <div>
        <a href="/basket/main.do">장바구니 메인</a>
        |
        <a href="/basket/commerce/list.do">장바구니 목록</a>
        |
        <a href="#">장바구니 관리</a>
        |
        <a href="/commerce/logout">로그아웃</a>
        <br/>
        <hr/>
    </div>

    <div class="list">
        <table>
            <thead>
            <tr>
                <th>
                    NO
                </th>
                <th>
                    상품아이디
                </th>
                <th>
                    상품번호
                </th>
                <th>
                    회원아이디
                </th>
            </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>상품아이디(String)</td>
                    <td>상품번호(int)</td>
                    <td>회원아이디(이메일)</td>
                </tr>
            </tbody>
        </table>
    </div>


</body>
</html>